# Delphi - Arquivos compilados
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.dcu
*.dpu
*.map
*.drc
*.res
*.rsm
*.tds
*.dsk

# Delphi - Pastas de saída
Win32/
Win64/
Linux64/
__history/
__recovery/

# Delphi - Arquivos de projeto locais
*.local
*.identcache
*.projdata
*.tvsconfig
*.dproj.user
*.cbproj.user
*.deployproj
*.vlb

# Delphi - Backup
*~
*.~*

# Boss (gerenciador de pacotes)
modules/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini
